<!-- TODO: Add boolean for hide/show -->
<div class="col-xs-12">
  <h1>Todo List</h1>
  <h2>{{message}}</h2>
  <div>
    <div ng-repeat='item in items | filter: searchTerm.searchTerm' class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-1"><input type="checkbox" name=""/></div>
        <div class="col-xs-7"><a ng-href='#!/items/deets/{{item.id}}'>{{item.task}}</a></div>
        <div class="col-xs-2">{{item.dueDate}}</div>
        <div class="col-xs-1">{{item.assignedTo}}</div>
        <div class="col-xs-1"><button ng-click='deleteItem(item.id)' class="btn btn-danger">X</button></div>
      </div>
    </div>
  </div>
</div